.contact{
    width: 100%;
    .box();//border
    margin: 10% auto;
    .form{
        
        .contact-form{
            padding: 2% 2%;

            .box();//border
            form{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                .box();//border
                padding: 2%;


            }//form
        }//.contact-form
    }//.form
}//.contact